body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

#toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 10%;
}

.test{
    background-color: #76ff03;
}

.blankButton {
    background-color : transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-transform: none !important;
}

.spanLabel {
    opacity: 0.5;
    font-style: italic;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.dropdownCentre > ul{
    text-align: center;
}

.dropdownCentre > ul  > li{
    display: inline-block;
    margin-left: 15px;
    position: relative;
}

.nolink a:link{
    color:#FFFFFF;
}
