<div ng-controller="contactController" layout="row" ng-cloak layout-fill layout-align="center">

    <md-tabs md-border-bottom="" md-autoselect="" md-center-tabs="true" layout-fill md-swipe-content>

        <md-tab ng-repeat="tab in tabs" label={{tab.name}} md-padding>

            <div class="layout-column layout-align-center layout-margin">

                <md-list-item class="md-3-line" ng-repeat="item in tab.list">
                    <div class="contactCircle" ng-style="{'background-color': color}">{{letter(item[0])}}</div>

                    <div class="md-list-item-text" layout="column">
                        <h3>{{item[0]}}</h3>
                        <h4>{{item[1]}}</h4>

                        <p>{{item[3]}}</p>
                    </div>
                </md-list-item>

            </div>

        </md-tab>


    </md-tabs>

</div>
