<div ng-controller="eventController" class="layout" ng-cloak="">
    <md-content class=" layout-fill">
        <div ng-if="dataLoading">
            <md-progress-linear class="md-warn" md-mode="query"></md-progress-linear>
        </div>

        <md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="" md-dynamic-height
                 md-center-tabs="true">
            <md-tab label="Upcoming Events">
                <div class="eventNote" ng-if="upcomingEmpty" layout="row" layout-align="center center">
                    {{emptyMessage}}
                </div>
                <div class="layout-column layout-align-center layout-margin">
                    <md-list-item class="md-2-line" ng-repeat="item in upComings">
                        <div class="eventItem">
                            <div layout="column" align="center center">
                                <div class="md-headline"><b>{{getEventDate(item)}}</b></div>
                                <div>{{getEventMonth(item)}}</div>
                            </div>
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{item.notificationTitle}}</h3>
                            <h4>{{item.title}}</h4>
                        </div>
                    </md-list-item>
                </div>
            </md-tab>

            <md-tab label="Past Events">
                <div class="eventNote" ng-if="pastEmpty" layout="row" layout-align="center center">
                    {{emptyMessage}}
                </div>
                <div class="layout-column layout-align-center layout-margin">
                    <md-list-item class="md-2-line" ng-repeat="item in past">
                        <div class="eventItem">
                            <div layout="column" align="center center">
                                <div class="md-headline"><b>{{getEventDate(item)}}</b></div>
                                <div>{{getEventMonth(item)}}</div>
                            </div>
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{item.notificationTitle}}</h3>
                            <h4>{{item.title}}</h4>
                        </div>
                    </md-list-item>
                </div>
            </md-tab>


        </md-tabs>

    </md-content>

</div>
