<div layout="column" layout-align="start center" flex layout-fill ng-controller="homeController">

    <div id="map_canvas" class="map md-whiteframe-z2" ng-style="{width: mapWidth+'%', height:mapHeight+'%'}"></div>


    <div layout="row" layout-align="center center" ng-style="{'background':'teal', width: '100%', 'color':'white'}"
         flex="10">
        <div layout="row" layout-align="center center">
            <div class="md-title">Next {{routes[currentRoute].type}} : {{nextTransport()}}</div>
        </div>

    </div>

    <div layout="row" layout-align="center center" ng-style="{'margin-top':mapMarginBottom+'%', width: '100%'}">

        <md-button class="md-icon-button" aria-label="Left" ng-click="goPrevious()">
            <md-icon md-svg-icon="app/resources/img/icons/left.svg"></md-icon>
        </md-button>
        <div layout="column" layout-align="center center" flex-offset="10">
            <div class="md-title">{{routes[currentRoute].from.toUpperCase() + ' - '
                +routes[currentRoute].to.toUpperCase()}}
            </div>
            <div class="md-subheader">{{timeLeft().hours +' Hrs '+ timeLeft().mins+' min left'}}</div>
        </div>
        <div flex-offset="10">
            <md-button class="md-icon-button" aria-label="Right" ng-click="goNext()">
                <md-icon md-svg-icon="app/resources/img/icons/right.svg"></md-icon>
            </md-button>
        </div>
    </div>

    <div flex layout="row" layout-align="center center" ng-style="{'margin-top':'5%', width: '100%'}">


        <div ng-repeat="btn in homeButtons"
             ng-style="{margin:'10px'}" flex="15">

            <div layout="column" ng-if="btn.onHome == true" layout-align="center center">
                <div>
                    <md-icon md-svg-icon="{{btn.icon}}"
                             ng-style="{height: '50px', width: '50px', color:'black'}"
                             ng-click="buttonClick(btn.href)"></md-icon>
                </div>
                <div>{{btn.name}}</div>
            </div>
        </div>


    </div>

    <div flex="10" layout="row" ng-style="{'margin-top':'3%', width: '100%'}"></div>

</div>