<div layout="column" layout-align="center center" layout-fill ng-controller="loginController">

    <div>Authentication!</div>

    <div layout="row" ng-style="{width:'100%'}" layout-align="center center">
        <md-card class="md-whiteframe-4dp" flex="90" flex-gt-xs="30">
            <md-card-content>
                <div class="md-inline-form">
                    <md-content layout-padding>
                        <div>
                            <form name="userForm">
                                <div layout-gt-sm="column">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Email</label>
                                        <input required type="email" name="email"
                                               ng-model="user.email"
                                               minlength="4" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>

                                        <div ng-messages="userForm.email.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                This doesn't look like an email.
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Password</label>
                                        <input required type="password" name="password"
                                               minlength="6"
                                               ng-model="user.password">

                                        <div ng-messages="userForm.password.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength']">
                                                Password should be at least 6 character long
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-content>
                </div>
            </md-card-content>
            <md-card-actions>
                <md-button class="md-primary" ng-click="signIn(userForm)">
                    <md-tooltip md-direction="bottom">
                        Sign in to your NCBSinfo account.
                    </md-tooltip>
                    Sign in
                </md-button>
                <md-button class="md-primary" ng-click="registerAlert(userForm)">
                    <md-tooltip md-direction="bottom">
                        Create new account with this email and password.
                    </md-tooltip>
                    Register
                </md-button>
            </md-card-actions>
            <md-progress-linear class="md-query md-accent" md-mode='indeterminate'
                                ng-if="sendingData()"></md-progress-linear>
        </md-card>
    </div>
    <md-button ng-click="forgotPass(userForm)">Forgot Password?</md-button>
    <div class="md-subheader" ng-style="{'margin-top':'5px'}">Need Help? email us at 'contact@secretbiology.com'</div>

</div>