<div layout="column" flex layout-align="center center" layout-fill layout-padding ng-controller="modesController">

    <div layout="column" flex layout-align="center center">
        <div layout="row" flex="10">
            <div>Hello there :)</div>
        </div>
        <div layout="column" layout-gt-xs="row" layout-align="center center">
            <md-content flex-gt-xs="40" ng-model="m1">
                <md-card ng-class="{'md-whiteframe-9dp' : m1}" ng-mouseover="m1=true" ng-mouseleave="m1=false">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Guest</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        Access all essential functions including transport, contact and locations.
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end">
                        <md-button class="md-accent" ng-click="goGuest()">Explore</md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
            <md-content flex-gt-xs="40" ng-model="m2">
                <md-card ng-class="{'md-whiteframe-9dp' : m2}" ng-mouseover="m2=true" ng-mouseleave="m2=false">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Login</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        All guest features plus events and profile preferences.
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end">
                        <md-button class="md-accent" ng-click="goLogin()">Authenticate</md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
        </div>
    </div>
    <div layout="row">
        <div class="md-subheader" ng-style="{'text-align':'center'}">In case of any issue, mail us at
            'contact@secretbiology.com'.
        </div>
    </div>

</div>
