<div layout="column" ng-controller="settingsController" layout-fill>

    <md-content md-padding layout-fill>
        <div>
            <md-card hover-element>
                <md-card-title>
                    <md-card-title-text class="md-headline">About NCBSinfo</md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-card-title-text class="md-subheader">Web and Android App</md-card-title-text>
                    <p>
                        <b>Android App</b></br>
                        NCBSinfo is an application for regular use, especially helpful for people working at the
                        National Centre for Biological Science (NCBS), Bangalore.
                        Our aim is to create a mobile application, which will serve as an application-cum-database for
                        important information pertaining to NCBS. With the help of this, we will try to reduce the time
                        spent on searching for shuttle timings and contact numbers.
                        <br><br>
                        <b>Web</b><br>
                        NCBSinfo web is specially made for non-android users who have no access to our android app.
                        However regular android user can also take advantage of this and can use this website to check
                        information as well as update preferences. These preferences will be synced between android app
                        and
                        website.

                    </p>
                </md-card-content>
            </md-card>
        </div>

        <div>
            <md-card hover-element>
                <md-card-title>
                    <md-card-title-text class="md-headline">Terms and Conditions</md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-card-title-text class="md-subheader">Web and Android App</md-card-title-text>
                    <p>
                        This is <b>NOT</b> an official NCBS app/website and has been created ONLY for personal use.
                        All the information (except event updates) provided in this application/website was last updated
                        on
                        September 15, 2016. Though a lot of effort has been taken to curate the information,
                        minor discrepancies may still exist. Developers are not responsible for any such information
                        presented/conveyed through this application/website. In case of any bug/error(s), please report
                        it
                        to the developers; measures will be taken to rectify the same.
                    </p>
                </md-card-content>
            </md-card>
        </div>

        <div>
            <md-card hover-element>
                <md-card-title>
                    <md-card-title-text class="md-headline">Privacy Policy</md-card-title-text>
                </md-card-title>


                <md-card-content>
                    <md-card-title-text class="md-subheader">Web and Android App</md-card-title-text>
                    <p>
                        <b>Web</b><br>
                        In this web site, we do not collect any additional personal information except information
                        provided
                        by you in the preferences tab. All of your personal information is stored in the secure Google
                        server. We do not sell or distribute this information to third party unless required by law. We
                        collect some anonymous user information like browser used, country, pages accessed etc through
                        Google analytics. This information will be used to make better user interface and user
                        experience.
                        Source code used to make this website is open source and free on the <a
                            href="https://github.com/NCBSinfo/web">
                        GitHub </a>. You are encourage to take a look at it and contribute to it's development if you
                        can.
                        <br><br>
                        <b>Android App</b><br>
                        Best part of an open source app is that you will know exactly what is going on inside the app.
                        We
                        encourage you to check our source code on <a href="https://github.com/NCBSinfo/NCBSinfo">
                        GitHub </a>. Code is heavily commented for readability. We collect various personal and general
                        information from this app to make a better user experience. Following is the list of all
                        information
                        that we get from users. <br><br>

                        <b>What information we collect (and why?)</b> <br><br>
                        &#8226; <b> Name and email </b> <br> (To authenticate you on our server) <br>
                        &#8226; <b> Default route </b> <br>(To customize your app when you login again) <br>
                        &#8226; <b> Unique Token </b> <br> (This token is generated by Firebase service through which
                        you can get notifications from admins)<br>
                        &#8226; <b> Current NCBSinfo App version </b> <br> (To remind you about new updates which will
                        be free of bugs and issues) <br>
                        &#8226; <b> Last login </b> <br> (To design network sync algorithms.) <br>
                        &#8226; <b> App open count </b> <br>(To check active users.) <br>
                        &#8226; <b> Number of network calls done by app</b> <br>(To block spammers and malicious app
                        modifications ) <br>
                        <br><br>

                        If you don't want any of above information to be send to our server, you can use OFFLINE mode.
                        <br>
                        <b>WE DO NOT COLLECT ANY PERSONAL INFORMATION FROM OFFLINE MODE USERS.</b><br><br>

                        <b>NO ONE </b> can check or see your password, not even developers. They are sent securely with
                        https protocol and are stored in Google's cloud database with encryption. <br><br>
                        <b>Google and Firebase analytics</b><br>
                        Besides above personal information, we also receive some anonymous statistics of all users who
                        have
                        installed this app.
                        This information generally includes Android Version, Default language, Country, App version,
                        Uninstall count etc.

                        <br><br>
                        <b>Crash Report</b><br>
                        This will send us anonymous crash reports (if any) which we use to fix bugs and make app better
                        :)
                    </p>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>