.test {
    background-color: blue;
}

.sideNav-image, .sideNav-Header, .sideNav-subHeader {
    margin-left: 16px;
}

.sideNav-image img {
    margin-top: 20px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.sideNav-Header, .sideNav-subHeader {
    margin-top: 5px;
}

.sideNav-subHeader {
    margin-bottom: 20px;
    opacity: 0.8;
    font-size: 13px;
    filter: alpha(opacity=80); /* For IE8 and earlier */

}

.sideNav-Header {
    margin-top: 16px;
    font-size: 16px;
}

.contactCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    margin-right: 16px;
    margin-top: 5px;
}

.dashboardHint {

    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

.transportTab {
    border-bottom: thin solid lightgray;
}

.transportTabHeader {
    font-weight: bold;
}

.eventItem {
    height: 75px;
    width: 75px;
    margin-right: 16px;
    background-color: teal;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.eventNote {
    height: 200px;
    text-align: center;
}