<div ng-controller="headController">
    <md-toolbar class="md-hue-2  md-whiteframe-z2">
        <div class="md-toolbar-tools">
            <div hide-gt-sm>
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleNav()">
                    <md-icon md-svg-icon="app/resources/img/icons/menu.svg"></md-icon>
                </md-button>
            </div>
            <span flex>
                <div layout="row" layout-align="center">
                    <div>{{title}}</div>
                </div>
            </span>
        </div>
    </md-toolbar>
</div>
