<!--Keep sideNav component ID and directive in root template-->
<div ng-controller="sideNavController" layout="column" layout-fill>

    <div layout="column" layout-fill>
        <md-content flex layout="column">
            <md-toolbar class="md-whiteframe-z2 md-hue-3">
                <div>
                    <div class="sideNav-image"><img src="app/resources/img/icon.png"></div>
                    <div class="sideNav-Header">{{title}}</div>
                    <div class="sideNav-subHeader" ng-if="showEmail()">{{subtile}}</div>
                </div>
            </md-toolbar>

            <div ng-repeat="tab in tabs">
                <md-list-item
                        ng-if="!( !isAuthenticated && tab.onOffline == false)"

                        ng-class="{'md-whiteframe-9dp': isActive==tab.href}"
                        ui-sref="mainView({param: tab.href})">
                    <md-icon md-svg-icon='{{tab.icon}}'></md-icon>
                    <p>{{tab.name}}</p>
                </md-list-item>
            </div>
            <md-divider></md-divider>
            <md-list-item
                    ng-click="changeMode()"
                    ui-sref="blank">
                <md-icon md-svg-icon='app/resources/img/icons/logout.svg'></md-icon>
                <p>{{buttonTitle}}</p>
            </md-list-item>
            <div flex></div>
        </md-content>


    </div>


    </md-sidenav>
</div>